<h1>{{ title }}</h1>
<div class="row">
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-header"> Insert Information </div>
        <form>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="ID" required>
              </li>
              <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="Title" required>
              </li>
              <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="Author" required>
              </li>
              <li class="list-group-item">
                  <textarea class="form-control" placeholder="Content"></textarea>
              </li>
              <li class="list-group-item">
                  <button type="button" class="btn btn-primary">Update</button>
              </li>
          </ul> 
        </form>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-header"> Get Data </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{# each items }}
              <article class="item">
                  <div>Title: {{ this.title }}</div>
                  <div>Content: {{ this.content }}</div>
                  <div>Author: {{ this.author }}</div>
                  <div>ID: {{ this._id }}</div>
              </article>
            {{/each}}
          </li>
          <li class="list-group-item">
            <a href="insert/get-data"><button type="button" class="btn btn-warning" class="mx-auto">Get Data</button></a>
          </li>
        </ul>
    </div>
  </div>
</div>